<!DOCTYPE html>
<html>
<head>
    <title>About <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>

<h1>About <%= title %> </h1>
<p>Hiii my name is vasu and i am a programmer . </p>


<!-- For making table out of json file -->
<h2>JSON Parsing : </h2>

<table>
    <tr>
        <th>CategoryID</th>
        <th>ParentID</th>
        <th>SubjectID</th>
        <th>CategoryName</th>
        <th>CategoryDescription</th>
        <th>VideosCount</th>
        <th>ForumCategoryID</th>
    </tr>

    <% for (var i = 0 ; i < videodata.categories.length ; i++) { %>
    <tr>
        <td><%= videodata.categories[i].categoryID %></td>
        <td><%= videodata.categories[i].parentID %></td>
        <td><%= videodata.categories[i].subjectID %></td>
        <td><%= videodata.categories[i].categoryName %></td>
        <!-- Perform clicks on the descriptions to reach to video -->
        <td><a href = "https://thenewboston.com/videos_food.php?cat=<%= videodata.categories[i].categoryID %>" ><%= videodata.categories[i].categoryDescription %> </a></td>
        <td><%= videodata.categories[i].videosCount %></td>
        <td><%= videodata.categories[i].forumCategoryID %></td>
    </tr>
    <% } %>

</table>

</body>
</html>
