<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Points : <%= points %></p>

    <p><%= name %></p>
    <% for (var i = 0 ; i < 5 ; i++) { %>
    <h4>NodeJs</h4>
    <% } %>
  </body>
</html>
